* {
  font-family: raleway
}

* {
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}


.header {
  display: flex;
  justify-content: space-between;
  background: white;
  clear: both;
  height: 75px;
}

#logo {
  margin: 0;
  width: 61px;
  height: 19px;
}

body {
  display: flex;
  justify-content: center;
}

h1 {
  height: 20px;
  gap: 8px;
}

.important {
  font-size: 16px;
}

#navlist {
  display: flex;
  width: 328px;
  height: 35px;
  padding: 0px, 25px, 0px, 25px;
  gap: 68px;
}

.f1 {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 377px;
  height: 49px;
  margin-top: 30px;
}

input[type="text"] {
  font-weight: 700;
  color: black;
  font-size: 18px;
  align-items: center;
  border: 1px solid #F2F2F2;
  outline: none;
  height: 48px;
  width: 195px;
  justify-content: center;
}

#pos {
  display: flex;
  justify-content: center;
  border: 1px solid #F2F2F2;
  background-color: #F2F2F2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 60px;
  height: 49px;
  border-radius: 15px, 0px, 0px, 15px;
  align-items: center;
}

#search {
  display: flex;
  font-weight: 700;
  font-size: 18px;
  align-items: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: #0065FC;
  background-color: #0065FC;
  color: white;
  width: 132px;
  height: 49px;

}

.fa-search {
  display: none;
}

.IdFilters {
  display: flex;
  gap: 15px;
  flex-wrap: row;
  width: 758px;
  height: 50px;
  margin-top: 30px;
}

.filter-title {
  display: flex;
  font-weight: 700;
  font-size: 18px;
  align-items: center;
}

.IdFilters button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 25px;
  border-color: grey;
  width: 173px;
  height: 50px;
  gap: 10px;
  font-weight: 700;
  font-size: 17px;
}

.IdFilters button:hover {
  background-color: grey/Tint2;
}

.IdFilters button i {
  margin: 5px 5px 5px 5px;
  color: #0065fc;
}

.info {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid grey;
  border-radius: 100%;
  color: #0065fc;
  margin: 15px;
  align-items: center;
}

.infobar {
  margin-top: 30px;
  display: flex;
  display: rwo;
  align-items: center;
}

.infobar p {
  font-weight: 400;
  font-size: 16px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: #F2F2F2
}

a {
  text-decoration: none;
  color: inherit;
}

/****** div heberg & pop                                                                                                                                                                             ,nnb    b,n bbbbbbbbbbbbbbbb,vbb nrnr***********/
.IdHebPop {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  /*padding: 30px;*/
  box-sizing: border-box;
}

/****** hebergements ***********/
.Hebergements {
  width: 871px;
  height: 611px;
  background-color: #F2F2F2;
  border-radius: 15px;
  margin-top: 30px;
}

/****** Populaires ***********/
.populaires {
  width: 429px;
  height: 611px;
  justify-content: space-between;
  background-color: #F2F2F2;
  border-radius: 15px;
  margin-top: 30px;
  margin-left: 20px;
}

/****** hebergements section ***********/

.card-Heb {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 15px;
  gap: 20px;
  justify-content: center;
}

.card-Heb .card {
  width: 250px;
  height: 207px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
  gap: 4px;
}

.heb-title h2 {
  display: flex;
  margin-left: 30px;
  margin-top: 30px;
  font-weight: 700;
  font-size: 22px;
  height: 26px;
}

.card-Heb img {
  width: 100%;
  height: 124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-Heb .container {
  width: 250px;
  height: 64px;
  gap: 8px;
  display: block;
}

.card-Heb .card-title {
  font-weight: 700;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 4px;
  margin-right: 10px;
  margin-left: 10px;
  height: 19px;
}

.card-Heb .card-subtitle {
  font-weight: 400;
  font-size: 14px;
  margin-left: 10px;
  line-height: 16px;
  margin-top: 4px;
  height: 16px;
}

.card-Heb .card-rating {
  /*width: 81px;*/
  display: flex;
  margin-left: 10px;
}

.Afficher {
  margin-left: 30px;
  margin-top: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

/****** Populaires sections***********/
.pop-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 30px;
  margin-top: 10px;
}

.section-title {
  font-weight: 700;
  font-size: 22px;
  width: 300px;
  height: 26px;
}

.pop-title i {
  margin-right: 15px;
  color: #0065fc;
}

.cardpop {
  display: block;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 369px;
  height: 492px;
  gap: 30px;
}

.cardpop .card {
  display: flex;
  width: 369px;
  height: 144px;
  margin-left: 30px;
  margin-right: 8px;
  margin-top: 30px;
}


.cardpop img {
  display: flex;
  width: 123px;
  height: 134px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.cardpop .card-content {
  width: 246px;
  height: 134px;
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  gap: 24px;
}

.cardpop .card-title {
  font-weight: 700;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 4px;
}

.cardpop .card-subtitle {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  margin-top: 10px;
}

.cardpop .card-rating {
  margin-bottom: 5px;
}

.checked {
  color: #0065FC;

}

.grey {
  color: #F2F2F2
}

/*******activites********/

.ac-title h2 {
  margin-top: 50px;
  font-weight: 700;
  font-size: 22px;
}

.activites {
  width: 1340px;
  height: 559px;
}

.card-ac {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  border-radius: 100px;
  gap: 20px;
  width: 1280px;
  ;
  height: 439px;
}

.card-ac .card {
  margin-top: 10px;
  margin-left: 5px;
  width: 297px;
  height: 439px;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px #0000001A;

}

.card-ac img {
  width: 100%;
  height: 380px;
  border-radius: 20px;
}

.card-ac .container {
  display: flex;
  width: 259.5px;
  height: 19px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 20px;


}

.footer-all {
  display: flex;
  flex-direction: row;
  width: 1340px;
  height: 163px;
  margin-top: 50px;
  gap: 150px;
  background-color: #F2F2F2;
}

.block-apropos {
  width: 446px;
  height: 163px;
  gap: 15px;
  padding: 20px;
}

.block-hebregements {
  width: 446px;
  height: 163px;
  gap: 15px;
  padding: 2Opx;
}

.block-assistances {
  width: 446px;
  height: 163px;
  gap: 15px;
  padding: 20px;

}

/*Medium devices (tablets, less/equal than 1024px)*/
@media (max-width: 1024px) {



  .IdHebPop {
    width: 100%;
    flex-direction: column;
    gap: 50px;
  }

  .Hebergements {
    width: 100%;
    height: 611px;
    padding: 30px;
  }

  /*populaires*/
  .populaires {
    width: 100%;
    height: 252px;
    margin-top: 50px;

  }

  .pop-title {
    padding-top: 5px;
  }

  .cardpop {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: nowrap;

  }

  .cardpop .card {
    width: 274px;
    height: 146px;
  }


  .cardpop .card-title {
    font-size: 14px;
  }

  .cardpop .card-subtitle {
    font-size: 13px;
  }

  /*Activités à marseille*/
  .activities {

    width: 100%;
    height: 390px;
    margin-top: 50px;
  }

  .card-ac {
    display: flex;
    justify-content: left;
    flex-direction: row;
    gap: 20px;

  }


  .card-ac .card {
    margin-top: 10px;
    width: 193px;
    height: 270px;
    border-radius: 15px;
  }

  .card-ac img {
    width: 100%;
    height: 85%;
    border-radius: 15px;
  }

  .card-ac .container {
    font-size: small;
  }

  /*footer*/
  .footer-all {
    width: 100%;
    height: 163px;
    gap: 30px;
  }

  .block-apropos {
    width: 288px;
    height: 163px;
    gap: 15px;
  }

  .block-hebergements {
    width: 288px;
    height: 163px;
    gap: 15px;
  }

  .bloc-assistance {
    width: 288px;
    height: 163px;
    gap: 15px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

  /*header*/
  #logo {
    justify-content: center;
    margin-bottom: 20px;

  }

  .header {
    width: 100%;
    height: 115px;
    display: flex;
    flex-direction: column;
  }

  h1 {
    width: 100%;
    height: 79px;
    gap: 8px;
  }

  /*filtres*/
  .IdFilters {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 161px;
  }

  .IdHebPop {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 2019px;
    gap: 15px;
  }

  /*populaire*/
  .populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 569px;
    gap: 15px;
    flex-wrap: wrap;
  }

  .cardpop {
    width: 100%;
  }

  .cardpop .card {
    height: 146px;
  }

  /*hebergrment*/

  .Hebergements {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 1435px;
    gap: 15px;
  }

  .Hebergements .card {
    width: 100%;
    height: 208px;
    gap: 4px;
  }

  /*activites*/
  .activites {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 965px;
  }

  .card-ac .card {
    width: 315px;
    height: 200px;
  }

  /*footer*/
  .footer-all {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 461px;
  }

  .block-apropos {
    width: 264px;
    ;
    height: 123px;
    gap: 15px;
  }

  .block-hebergements {
    width: 264px;
    ;
    height: 89px;
    gap: 15px;
    ;
  }

  .block-assistances {
    width: 264px;
    height: 89px;
    gap: 15px;

  }
}