* {
  font-family: raleway
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}


.header {
  display: flex;
  justify-content: space-between;
  background: white;
  clear: both;
  height: 75px;
}

#logo {
  margin: 0;
  width: 55px;
  height: 15px;
}

.lien {
  color: #0065fc;
}

body {
  display: flex;
  justify-content: center;
}

.important {
  font-size: 16px;
}

#navlist {
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.f1 {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  height: 20px;
  margin-top: 30px;
}

input[type="text"] {
  border: 1px solid #ccc;
  outline: none;
  height: 25px;
  padding: 5px;
}

#pos {
  display: flex;
  justify-content: center;
  border: 1px solid #ccc;
  background-color: #F2F2F2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 25px;
  height: 25px;
  padding: 5px;

}

#search {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-color: #0065FC;
  background-color: #0065FC;
  color: white;
  height: 37px;
}


.IdFilters {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 40px;
}

.IdFilters button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border-radius: 15px;
  border-color: #F2F2F2;
  margin-top: 20px;
}

.IdFilters button i {
  margin: 5px 5px 5px 5px;
  color: #0065fc;
}


.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: #F2F2F2
}

a {
  text-decoration: none;
  color: inherit;
}

/****** div heberg & pop                                                                                                                                                                             ,nnb    b,n bbbbbbbbbbbbbbbb,vbb nrnr***********/
.IdHebPop {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  /*padding: 30px;*/
  box-sizing: border-box;
}

/****** hebergements ***********/
.Hebergements {
  width: 70%;
  background-color: #F2F2F2;
  border-radius: 8px;
}

/****** Populaires ***********/
.populaires {
  width: 28%;
  background-color: #F2F2F2;
  border-radius: 8px;
}

/****** hebergements section ***********/

.card-Heb {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border-radius: 8px;

}

.card-Heb .card {
  width: 30%;
  padding: 5px;
  margin-top: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.heb-title {
  display: flex;
  padding-top: 30px;
  margin-left: 15px;
}

.card-Heb img {
  width: 100%;
  height: 136px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-Heb .card-content {
  width: 100%;
  padding-left: 15px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  box-sizing: border-box;
}

.card-Heb .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.card-Heb .card-subtitle {
  margin: 0;
}

.card-Heb .card-rating {
  margin-bottom: 5px;
}

/****** Populaires sections***********/
.pop-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15px;
  padding-top: 30px;
}

.pop-title i {
  margin-right: 15px;
  color: #0065fc;
}

.cardpop .card {
  display: flex;
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 5px;
}

.cardpop img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.cardpop .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.cardpop .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.cardpop .card-subtitle {
  margin: 0;
}

.cardpop .card-rating {
  margin-bottom: 5px;
}

.checked {
  color: #0065FC;

}

.grey {
  color: #F2F2F2
}

/*******activites********/

.ac-title {
  margin-top: 50px;
}

.activites {
  width: 100%;
}

.card-ac {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  border-radius: 100px;
  gap: 20px;
}

.card-ac .card {
  margin-top: 10px;
  margin-left: 5px;
  width: 300px;
  height: 400px;
}

.card-ac img {
  width: 100%;
  height: 85%;
}

.card-ac .container {
  display: flex;
  width: 100%;
  height: 80%;

}

.footer-all {
  display: flex;
  flex-direction: row;
  width: 95%;
  margin-top: 50px;
  margin-left: 20px;
  gap: 300px;
  background-color: #F2F2F2;
}

.block-apropos {
  width: 200px;
  height: 2OOpx;
  margin-left: 10px;
}

.block-hebregements {
  width: 200px;
  height: 200px;
}

.block-assistances {
  width: 200px;
  height: 200px;
}

/*Medium devices (tablets, less/equal than 1024px)*/
@media (max-width: 1024px) {
  .IdHebPop {
    flex-direction: column;
  }

  .Hebergements {
    width: 100%;
  }

  /*populaires*/
  .populaires {
    width: 100%;
    margin-top: 50px;
    height: 252px;
  }

  .pop-title {
    padding-top: 5px;
  }

  .cardpop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .cardpop a {
    width: 30%;
  }

  .cardpop .card-title {
    font-size: 14px;
  }

  .cardpop .card-subtitle {
    font-size: 13px;
  }

  /*Activités à marseille*/
  .activities {
    width: 100%;
    margin-top: 10px;
    height: 391px;
  }

  .card-ac {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }


  .card-ac .card {
    margin-top: 10px;
    width: 193px;
    height: 270px;
    border-radius: 15px;
  }

  .card-ac img {
    width: 100%;
    height: 85%;
    border-radius: 15px;
  }

  .card-ac .container {
    font-size: small;
  }

  /*footer*/
  .footer-all {
    width: 924px;
    height: 163px;
    gap: 30px;
  }

  .block-apropos {
    width: 288px;
    height: 163px;
    gap: 15px;
  }

  .block-hebergements {
    width: 288px;
    height: 163px;
    gap: 15px;
  }

  .bloc-assistance {
    width: 288px;
    height: 163px;
    gap: 15px;
  }
}
/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
  /*header*/
  #logo{
    justify-content: center;
    margin-bottom: 20px;

  }
  .header{
    width: 357px;
    height: 115px;
    display: flex;
    flex-direction: column;
  }
  h1{
    width: 335px;
    height: 79px;
    gap: 8px;
  }
  
  /*filtres*/
  .IdFilters{
  display: flex;
  flex-direction: column;
  width: 335px;
  height: 161px;
  }
  .IdHebPop {
    display: flex;
    flex-direction: column;
    width:357px;
    height: 2019.15px;
    gap: 15px;
  }

/*populaire*/
  .populaires{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .cardpop .card{
    width: 335px;
    height: 146px;
  }
/*hebergrment*/

  .Hebergements{
    display: flex;
    flex-direction: column;
    width: 335px;
    height: 651px;
    gap: 15px;}
  .Hebergements .card{
    width: 335px;
    height: 208px;
    gap: 4px;
  }  

/*activites*/
  .activites{
    display: flex;
    flex-direction: column;
    width: 357px;
    height: 965px;
  }
  .card-ac .card{
    width: 315px;
    height: 200px;
  }

  /*footer*/
  .footer-all{
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 461px;
  }
  .block-apropos{
    width: 264px; ;
    height:123px ;
    gap:15px ;
  }
  .block-hebergements{
    width: 264px; ;
    height: 89px;
    gap: 15px; ;
  }
  .block-assistances{
    width: 264px; ;
    height: 89px;
    gap: 15px; ;
  }
}