* {
  font-family: raleway,sans-serif;
}

* {
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
}


.header {
  display: flex;
  justify-content: space-between;
  background: white;
  margin-bottom :50px; 
}

#logo {
  margin-top: 30px;
  width: 61px;
  height: 19px;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
}

.important {
  font-size: 16px;
}

#navlist {
  display: flex;
  padding: 0px 25px 0px 25px;
  gap: 68px;
}
#navlist a{
  border-top: 2px solid transparent;
  padding-top: 15px;
}

#navlist a:hover{
  border-top: 2px solid #0065FC;
  color: #0065FC;
}

.f1 {
  display: flex;
  flex-flow: row;
  align-items: center;
  width: 377px;
  height: 49px;
  margin-top: 30px;
}

input[type="text"] {
  font-weight: 700;
  color: black;
  font-size: 18px;
  align-items: center;
  border: 1px solid #F2F2F2;
  outline: none;
  height: 48px;
  width: 195px;
  justify-content: center;
  padding-left: 20px;
}

input[type="text"]::placeholder{
  color:#000000;
  opacity: 1;
}

#pos {
  display: flex;
  justify-content: center;
  border: 1px solid #F2F2F2;
  background-color: #F2F2F2;
  width: 50px;
  height: 49px;
  border-radius: 15px 0 0 15px;
  align-items: center;
}

#search {
  display: flex;
  font-weight: 700;
  font-size: 18px;
  align-items: center;
  border-radius: 0 15px 15px 0;
  background-color: #0065FC;
  color: white;
  height: 49px;
  cursor: pointer;
  text-align: center;
  padding: 0 15px;
  border-color: #0065FC;
}

.fa-search {
  display: none;
}

.IdFilters {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.filter-title {
  display: flex;
  font-weight: 700;
  font-size: 18px;
  align-items: center;
}

.IdFilters .div-filtres {
  display: flex;
  gap: 20px;
}

.IdFilters .div-filtre {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: 2px solid #d9d9d9;
  height: 50px;
  gap: 10px;
  font-weight: 700;
  font-size: 17px;
  padding: 10px;
}

.IdFilters .div-filtre:hover {
  background-color: #d9d9d9;
}

.IdFilters .div-filtre i {
  margin: 5px 5px 5px 5px;
  color: #0065fc;
  font-size: medium;
}


.info {
  display: flex;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 2px solid #d9d9d9;
  border-radius: 100%;
  color: #0065fc;
  align-items: center;
}
.fa-info{
  font-size: 12px;
}

.infobar {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.infobar p {
  font-weight: 400;
  font-size: 16px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: #F2F2F2
}

a {
  text-decoration: none;
  color: inherit;
}

/****** div heberg & pop                                                                                                                                                                             ,nnb    b,n bbbbbbbbbbbbbbbb,vbb nrnr***********/
.IdHebPop {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  /*padding: 30px;*/
  margin-top: 30px;
  gap: 10px;
}

/****** hebergements ***********/
.Hebergements {
  max-width: 871px;
  background-color: #F2F2F2;
  border-radius: 15px;
  padding: 30px;
  width: 100%;
}

/****** Populaires ***********/
.populaires {
  max-width: 429px;
  justify-content: space-between;
  background-color: #F2F2F2;
  border-radius: 15px;
  padding: 30px;
}

/****** hebergements section ***********/

.card-Heb {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  border-radius: 15px;
  row-gap: 30px;
  column-gap: 24px;
  justify-content: space-between;
}

.card-Heb .card {
  max-width: 250px;
  width: 30%;
  gap: 4px;
}

.heb-title h2 {
  display: flex;
  margin-top: 0px;
  font-weight: 700;
  font-size: 22px;
  height: 26px;
}

.card-Heb img {
  width: 100%;
  height: 124px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-Heb .container {
  width: 100%;
  gap: 8px;
  display: block;
  padding-bottom: 10px;
}

.card-Heb .card-title {
  font-weight: 700;
  font-size: 16px;
  margin-top: 5px;
  margin-bottom: 4px;
  margin-right: 10px;
  margin-left: 10px;
}

.card-Heb .card-subtitle {
  font-weight: 400;
  font-size: 14px;
  margin-left: 10px;
  line-height: 16px;
  margin-top: 4px;
}

.card-Heb .card-rating {
  /*width: 81px;*/
  display: flex;
  margin-left: 10px;
}

.Afficher {
  margin-top: 40px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

/****** Populaires sections***********/

.section-title {
  font-weight: 700;
  font-size: 22px;
  height: 26px;
  margin-top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-title i {
  color: #0065fc;
}

.cardpop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
}

.cardpop .card {
  display: flex;
  max-width: 369px;
  height: 144px;
}


.cardpop img {
  display: flex;
  max-width: 123px;
  width: 33%;
  height: 134px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.cardpop .card-content {
  display: flex;
  margin-left: 10px;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;
}

.cardpop .card-title {
  font-weight: 700;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 4px;
}

.cardpop .card-subtitle {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  margin-top: 10px;
}

.cardpop .card-rating {
  margin-bottom: 5px;
}

.checked {
  color: #0065FC;

}

.grey {
  color: #F2F2F2
}

/*******activites********/

.ac-title h2 {
  margin-top: 61px;
  font-weight: 700;
  font-size: 22px;
}

.Activites {
  width: 100%;
  padding: 30px;
}

.card-ac {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-top: 30px;
  margin-left: 6px;
}

.card-ac .card {
  max-width: 297px;
  width: 24%;
  border-radius: 20px;
  box-shadow: 0px 3px 15px 0px #0000001A;
  padding: 0;
}

.card-ac img {
  width: 100%;
  height: 380px;
  border-radius: 20px 20px 0px 0px;
}

.card-ac .container {
  display: flex;
  width: 100%;
  line-height: 19px;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0em;
  text-align: left;
  padding: 0 10px 5px 10px;
}
.card-ac h3{
  font-size: 16px;
}

.footer-all {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 50px;
  padding-left: 20px;
  background-color: #F2F2F2;
}

.footer-all div {
  width: 33%;
  gap: 15px;
  padding: 20px;
}

/*Medium devices (tablets, less/equal than 1024px)*/
@media (max-width: 1024px) {
   
  .IdFilters{
    flex-wrap: wrap;
  }

  .IdHebPop {
    width: 100%;
    flex-direction: column;
    gap: 50px;
  }

  .Hebergements {
    width: 100%;
    padding: 30px;
    max-width: none;
  }

  /*populaires*/
  .populaires {
    width: 100%;
  max-width: none;
  }

  .pop-title {
    padding-top: 5px;
  }

  .cardpop {
    width: 100%;
    flex-direction: row;
    gap: 10px;
    flex-wrap: nowrap;
  }

  .cardpop a {
    width: 33%;
  }
  .card-ac img {
    height: 200px;
  }

  .cardpop .card-title {
    font-size: 14px;
  }

  .cardpop .card-subtitle {
    font-size: 13px;
  }


  /*footer*/
  .footer-all {
    justify-content: space-between;
    gap: 0;
  }

}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {

  .main-container {
    padding: 0;
  }
  /*header*/
  #logo {
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;

  }

  .header {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 0;
  }

  #navlist {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 0px;
    text-align: center;
    padding: 0;
  }

  #navlist a {
    width: 50%;
    border-bottom: 2px solid #d9d9d9;
    border-top: none;
    padding-bottom: 20px;
  }

  #navlist a:hover {
    border-bottom: 2px solid #0065FC;
    color: #0065FC;
    border-top: none;
  }
   /*recherche*/
  .recherche {
    padding: 0  15px;
  
  
  }

  h1 {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 4px;
  }
  .f1{
    width: 100%;
  }
 
  

  .fa-location-dot {
    color: black;
    font-size: larger;
    min-width: 50px;
  }

  input [type="text"] {
    text-align: center;
    color: black;
    align-items: center;
  }

  .fa-search {
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .rechercher {
    display: none;
  }

  #search {
    width: 49px;
    height: 49px;
  }

  /*filtres*/
  .filtres{
    padding: 0 15px;
  }
  .div-filtres{
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .div-filtre{
    width: 46%;
    font-size: 14px !important;
    
  }
 
  .IdHebPop {
   
    flex-direction: column-reverse;
    gap: 20px;
  
  }

  /*populaire*/
  .populaires {
    flex-direction: column;
    width: 100%;
    border-radius: 0;
    padding: 15px;

  }

  .cardpop {

    flex-direction: column;
  }

  .cardpop a{
    width: 100%;
  }
  .cardpop .card {
    width: 100%;
    height: 139px;
    gap: 9px;
    max-width: none;
  }


  .section-title {
    width: 100%;
    display: flex;
  }

  .cardpop img {
    width: 100%;
    padding-bottom: 5px;
  }

  /*hebergrment*/

  .Hebergements {
    display: flex;
    flex-direction: column;
    width: 100%;
    background: none;
    padding: 15px;
    row-gap: 30px;
  }

  .card-Heb .card {
    max-width: none;
    width: 100%;

  }

  .card-Heb {
    width: 100%;
   

  }

  .card-Heb img {
    width: 100%;
  }
 

  /*activites*/
  .Activities {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    gap: 30px;

  }

  .ac-title h2 {
    display: flex;
    margin-top: 30px;
    font-weight: 700;
    font-size: 22px;
  }

  .card-ac {
    flex-direction: column;
    margin-top: 0;
    row-gap: 20px;

  }

  .card-ac .card {
    width: 100%;
    height: 200px;
    border-radius: 20px 20px 0px 0px;
    padding: 0;
    max-width: none;
  }

  .card-ac img {
    width: 100%;
    height: 141px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .card-ac .container {
    margin-top: -17px;
    padding-top: 20px;
    padding-left: 19px;
    padding-bottom: 20px;
    padding-right: 19px;
    height: 59px;
  }

  /*footer*/
  .footer {
    background: #F2F2F2;
  }

  .footer-all {
    flex-direction: column;
    width: 100%;
   padding-left: 15px;
  }

  .footer-all div {
    width: 100%;

  }

  
}